.preview-wrapper {
  width: 100%;
  padding: 20px;
}

.preview-name {
  font-size: 35px;
  color: #fff;
}

.preview-subtitle {
  font-size: 25px;
  margin-top: 10px;
  color: #fff;
}

.preview-description {
  font-size: 16px;
  margin-top: 10px;
  color: #b8b8b8;
}

ul.preview-ul {
  list-style-type: square;
  margin-top: 10px;
  padding-left: 20px;
}

li.preview-li {
  margin-top: 2px;
  color: #b8b8b8;
}

a.preview-link {
  margin-left: 5px;
  color: #e94560;
}

.preview-skills-heading,
.preview-socials-heading,
.preview-support-heading {
  font-size: 25px;
  margin-top: 20px;
  color: #fff;
  text-transform: capitalize;
}

.preview-skills-container,
.preview-socials-container,
.preview-support-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.preview-icon-image {
  width: 35px;
  height: 35px;
  margin: 20px 10px 0 0;
}

.preview-social-icon {
  height: 38px;
  width: 38px;
}

.preview-social-link {
  margin: 20px 15px 0 0;
}

.preview-support-container a {
  margin-top: 20px;
}

.buymecoffee-icon {
  width: 170px;
}
