.text-input-container {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  margin: 10px 0;
  width: 100%;
}

.text-input-emoji {
  margin-right: 10px;
}

.text-input-label {
  font-size: 14px;
  color: #e94560;
  text-transform: uppercase;
  font-family: "Cousine", monospace;
  font-weight: 600;
}

.text-input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: #161616;
  color: #fff;
  font-size: 14px;
  margin-top: 15px;
  border-radius: 5px;
  resize: none;
  width: 100%;
}

.text-input:focus-visible {
  outline: 1px solid #fff;
}
