.App {
  overflow: hidden;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
}
.editing-container,
.preview-container {
  width: 50vw;
  height: 100vh;
}

.editing-component {
  overflow-x: hidden;
  height: 80vh;
  border-top: 0.1px solid #423f3e;
}

.preview-component {
  overflow-x: hidden;
  height: 90vh;
  border-top: 0.1px solid #423f3e;
}

.section-toggle-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  margin-bottom: 30px;
}

.preview-toggle-btn-container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .App {
    overflow: auto;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
  }
  .editing-container,
  .preview-container {
    width: 100vw;
    height: fit-content;
  }

  .editing-component,
  .preview-component {
    height: fit-content;
  }

  .preview-component {
    min-height: 500px;
  }
}
